<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="NewDew.Properties.Settings.Database1ConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\dasha\OneDrive\Desktop\NewDew\NewDew\Database1.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="NewDew.Properties.Settings.isdocConnectionString"
      connectionString="Data Source=LAPTOP-AD8DKJH0;Initial Catalog=isdoc;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="NewDew.Properties.Settings.gasu_bdConnectionString"
      connectionString="Data Source=LAPTOP-AD8DKJH0;Initial Catalog=gasu_bd;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>